PORT=5000
# MONGO_URI=mongodb://127.0.0.1:27017/ems
# MONGO_TEST_URI=mongodb://127.0.0.1:27017/ems_test
JWT_SECRET=replace-this-with-a-long-random-string
MONGO_URI=mongodb+srv://jainritik829_db_user:dVid6JN68PxvyHdW@cluster0.kobrzsk.mongodb.net/?appName=Cluster0